/* src/components/Alumnos/ModalEditarAlumno.css */

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 999;
}

.ReactModal__Content {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.form-group {
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-cancelar {
  background-color: #999;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.btn-guardar {
  background-color: #800020;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
